body{
    background-image: linear-gradient(to right, green, yellow); 
}



h2 {
    border-color: black;
    border-width: 5px;
    border-style: dashed;
    display: inline;
    
}

input{
    text-align: center;
}

div{
    text-align: center;
}

.Alt-Log{
    text-align: center;
}

::placeholder{
    color: red;
}